<form>
    <p>
        <b>When you want to ask a question about someone, something or somewhere, or want Control to reveal something about the situation</b>, roll:
    </p>
    <form class="flexcol">
        <div class="form-group">
            <input type="checkbox" id="baseDie" name="baseDie" checked>
            <label for="baseDie">Always start with <b>1d6</b></label>
        </div>
        <div class="form-group">
            <input type="checkbox" id="expertiseDie" name="expertiseDie" {{#if expertiseUsed}}disabled{{/if}}>
            <label for="expertiseDie">Add another 1d6 if your <b>Expertise</b> is relevant</label>
        </div>
        <div class="form-group">
            <input type="checkbox" id="stressDie" name="stressDie">
            <label for="stressDie">Add your <b><span style="color: {{riskDieColor}}">Stress Die</span></b> if you are willing to take that risk</label>
        </div>
    </form>
    </br>
</form>