<section class="heat-panel" {{#if @root.user.isGM}}editable{{/if}}>
    <div class="heat">
        <div class="clock on-click" style="--areas: {{max}}; --filled: {{currentHeat}}">
            {{#each spokes}}
                <div class="spoke" style="--index: {{ this }}"></div>
            {{/each}}
        </div>
        <div class="name on-click-clear">HEAT</div>
    </div>
</section>