<section class="clock-panel {{#if @root.editable}}editable{{/if}} ">
    <div class="clock-entry">
        <div class="clock" style="--areas: {{clock.max}}; --filled: {{clock.value}}">
            {{#each clock.spokes}}
                <div class="spoke" style="--index: {{ this }}"></div>
            {{/each}}
        </div>
        <div class="name">{{clock.name}}</div>
    </div>
</section>