<div class="main flexrow">
  <div class="main-left flexcol">
    <div class="box expertise-grid">
      <h3>Professional History</h3>
      <div><!-- empty --></div>
      <h3>Expertise</h3>
      <input class="underline-input" type="text" id="nation-org" placeholder="Nation/Organisation">
      <div><!-- empty --></div>
      <input class="underline-input" type="text" id="init-expertise" value="Small Arms & Hand-to-Hand" disabled>
      <select name="worked-for" id="worked-for">
        <option value="" disabled selected>Who did you work for?</option>
        <option value="criminal-organisation">Criminal Organisation</option>
        <option value="espionage-service">Espionage Service</option>
        <option value="law-enforcement">Law Enforcement</option>
        <option value="signals-intelligence">Signals Intelligence</option>
        <option value="special-forces">Special Forces</option>
      </select>
      <div><i class="fa-solid fa-caret-right"></i></div>
      <input class="underline-input" type="text" id="expertise1" placeholder="-" disabled>
      <div class="specialism flexrow">
        <input type="checkbox" id="specialism-used">
        <select name="specialism" id="specialism">
          <option value="" disabled selected>Your Specialism was...</option>
          <option value="analyst">Analyst</option>
          <option value="assassin">Assassin</option>
          <option value="burglar">Burglar</option>
          <option value="driver">Driver</option>
          <option value="false-face">False-face</option>
          <option value="hacker">Hacker</option>
          <option value="handler">Handler</option>
          <option value="sparks">Sparks</option>
        </select>
      </div>
      <div><i class="fa-solid fa-caret-right"></i></div>
      <input class="underline-input" type="text" id="expertise2" placeholder="-" disabled>
      <div class="flexrow expertise-available">
        <div>Expertise Available?</div>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>
      <div><!-- empty --></div>
      <select name="expertise3" id="expertise3">
        <option value="" disabled selected>...choose a final Expertise</option>
        <option value="authority">Authority</option>
        <option value="deadly">Deadly</option>
        <option value="digital-intrusion">Digital Intrusion</option>
        <option value="disguise">Disguise</option>
        <option value="insight">Insight</option>
        <option value="intrusion">Intrusion</option>
        <option value="larceny">Larceny</option>
        <option value="military-fieldcraft">Military Fieldcraft</option>
        <option value="negotiation">Negotiation</option>
        <option value="persuasion">Persuasion</option>
        <option value="research">Research</option>
        <option value="surveillance">Surveillance</option>
        <option value="technical">Technical</option>
        <option value="tradecraft">Tradecraft</option>
        <option value="vehicles">Vehicles</option>
        <option value="lore">Lore</option>
      </select>
    </div>
    <div class="box">
      left bottom
    </div>
  </div>

  <div class="actions">
    <!-- Testing collapsable things -->
    <div class="collapsable box">
      <a data-roll-type="" title="roll" data-item-id=""><i class="fa-regular fa-dice"></i> Roll</a>
      <details>
        <summary>Investigate</summary>
        <p>When you want to ask a question about someone, something,  or somewhere. Or you want control to reveal something about the situation.</p>
      </details>
    </div>

    <div class="collapsable box">
      <a data-roll-type="" title="roll" data-item-id=""><i class="fa-regular fa-dice"></i> Roll</a>
      <details>
        <summary>Take Them Out</summary>
        <p>If you fight or shoot at a threat or they attack you, say what success looks like: Harm them, Subdue them, Avoid their attempt to hurt you, some other outcome.</p>
      </details>
    </div>

    <div class="collapsable box">
      <a data-roll-type="" title="roll" data-item-id=""><i class="fa-regular fa-dice"></i> Roll</a>
      <details>
        <summary>Roll for Harm</summary>
        <p>TBD</p>
      </details>
    </div>
    
    <div class="collapsable box">
      <a data-roll-type="" title="roll" data-item-id=""><i class="fa-regular fa-dice"></i> Roll</a>
      <details>
        <summary>Flee For Your Life</summary>
        <p>When you want to escape your fate by leaving the scene and Control agrees there's a reasonable route by which you could get away</p>
      </details>
    </div>

    <div class="collapsable box">
      <a data-roll-type="" title="roll" data-item-id=""><i class="fa-regular fa-dice"></i> Roll</a>
      <details>
        <summary>Chase Them Down</summary>
        <p>TBD</p>
      </details>
    </div>

    <hr>

    <div class="collapsable box">
      <a data-roll-type="" title="roll" data-item-id=""><i class="fa-regular fa-dice"></i> Roll</a>
      <details>
        <summary>Behave Badly</summary>
        <p>TBD</p>
      </details>
    </div>

    <div class="collapsable box">
      <a data-roll-type="" title="roll" data-item-id=""><i class="fa-regular fa-dice"></i> Roll</a>
      <details>
        <summary>Indulge a Vice</summary>
        <p>TBD</p>
      </details>
    </div>

    <div class="collapsable box">
      <a data-roll-type="" title="roll" data-item-id=""><i class="fa-regular fa-dice"></i> Roll</a>
      <details>
        <summary>Seek solace in a relationship</summary>
        <p>TBD</p>
      </details>
    </div>
    
    <div class="collapsable box">
      <a data-roll-type="" title="roll" data-item-id=""><i class="fa-regular fa-dice"></i> Roll</a>
      <details>
        <summary>Reveal some of your history together</summary>
        <p>TBD</p>
      </details>
    </div>
    
    <div class="collapsable box">
      <a data-roll-type="" title="roll" data-item-id=""><i class="fa-regular fa-dice"></i> Roll</a>
      <details>
        <summary>Seek relief from the horror</summary>
        <p>TBD</p>
      </details>
    </div>
  </div>
  
</div>