<div class="main flexrow">
  <div class="main-left flexcol">
    <div class="box expertise-grid">
      <h3>{{localize "ATDC.actor.expertise.professionalHistory.label"}}</h3>
      <div><!-- empty --></div>
      <h3>{{localize "ATDC.actor.expertise.label"}}</h3>
      <input class="underline-input" type="text" id="nation-org" name="system.nationOrganization" value="{{system.nationOrganization}}" placeholder="{{localize "ATDC.actor.expertise.nationOrganisation.placeholder"}}">
      <div><!-- empty --></div>
      <input class="underline-input" type="text" id="init-expertise" value="{{localize "ATDC.actor.expertise.initial.value"}}" disabled>
      <!-- workedFor -->
      <select name="system.expertise.workedFor" data-type="String">
        {{#select system.expertise.workedFor}}
          {{#each system.expertise.workedForOptions as |option key|}}
            <option value="{{key}}">{{localize option.question}}</option>
          {{/each}}
        {{/select}}
      </select>
      <div><i class="fa-solid fa-caret-right"></i></div>
      <input class="underline-input" type="text" value="{{system.expertise.workedForAnswer}}" disabled>
      <!-- specialism -->
      <div class="specialism flexrow">
        <input type="checkbox" name="system.expertise.specialismUsed" {{checked system.expertise.specialismUsed}}>
        <select name="system.expertise.specialism" data-type="String">
          {{#select system.expertise.specialism}}
            {{#each system.expertise.specialismOptions as |option key|}}
              <option  value="{{key}}">{{localize option.question}}</option>
            {{/each}}
          {{/select}}
        </select>
      </div>
      <div><i class="fa-solid fa-caret-right"></i></div>
      <input class="underline-input" type="text" value="{{system.expertise.specialismAnswer}}" disabled>
      
      <!-- expertise-available -->
      <div class="flexrow expertise-available">
        <div>{{localize "ATDC.actor.expertise.available.label"}}</div>
        <label class="switch">
          <input type="checkbox" name="system.expertise.expertiseUsed" {{checked system.expertise.expertiseUsed}}>
          <span class="slider round"></span>
        </label>
      </div>
      
      <div><!-- empty --></div>
      
      <!-- final expertise -->
      <select name="system.expertise.final" data-type="String">
        {{#select system.expertise.final}}
        <option value="" disabled selected>{{localize "ATDC.actor.expertise.final.placeholder"}}</option>
          {{#each system.expertise.finalOptions as |option key|}}
            <option  value="{{key}}">{{localize option}}</option>
          {{/each}}
        {{/select}}
      </select>
    </div>
    <div class="box gear">
      <h2>{{localize "ATDC.actor.gear.label"}}</h2>
      <p class="description">{{{localize 'ATDC.actor.gear.description'}}}</p>
      <ol class="items-list">
        <li class="item flexrow items-header">
          <div class="item-name">Name</div>
          <div class="item-tags">Tags</div>
          <div class="item-load">Load</div>
          <div class="item-controls">
            <a class="item-control item-create" title="Create item" data-type="gear"><i class="fas fa-plus"></i> Add item</a>
          </div>
        </li>
        {{#each gear as |item id|}}
          <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-name">
              <div class="item-image">
                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
              </div>
              <h4>{{item.name}}</h4>
            </div>
            <div class="item-tags item-prop">{{item.system.tags}}</div>
            <div class="item-load item-prop">{{item.system.load}}</div>
            <div class="item-controls">
              <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
          </li>
        {{/each}}
      </ol>
    </div>
  </div>

  <div class="actions">
    <div class="collapsable box">
      <a data-roll-type="" title="roll" data-item-id=""><i class="fa-regular fa-dice"></i>{{localize "ATDC.roll.label"}}</a>
      <details>
        <summary>{{localize "ATDC.actor.actions.investigate.label"}}</summary>
        <p>{{localize "ATDC.actor.actions.investigate.description"}}</p>
      </details>
    </div>

    <div class="collapsable box">
      <a data-roll-type="" title="roll" data-item-id=""><i class="fa-regular fa-dice"></i>{{localize "ATDC.roll.label"}}</a>
      <details>
        <summary>{{localize "ATDC.actor.actions.takeThemOut.label"}}</summary>
        <p>{{localize "ATDC.actor.actions.takeThemOut.description"}}</p>
      </details>
    </div>

    <div class="collapsable box">
      <a data-roll-type="" title="roll" data-item-id=""><i class="fa-regular fa-dice"></i>{{localize "ATDC.roll.label"}}</a>
      <details>
        <summary>{{localize "ATDC.actor.actions.harm.label"}}</summary>
        <p>{{localize "ATDC.actor.actions.harm.description"}}</p>
      </details>
    </div>
    
    <div class="collapsable box">
      <a data-roll-type="" title="roll" data-item-id=""><i class="fa-regular fa-dice"></i>{{localize "ATDC.roll.label"}}</a>
      <details>
        <summary>{{localize "ATDC.actor.actions.flee.label"}}</summary>
        <p>{{localize "ATDC.actor.actions.flee.description"}}</p>
      </details>
    </div>

    <div class="collapsable box">
      <a data-roll-type="" title="roll" data-item-id=""><i class="fa-regular fa-dice"></i>{{localize "ATDC.roll.label"}}</a>
      <details>
        <summary>{{localize "ATDC.actor.actions.chase.label"}}</summary>
        <p>{{localize "ATDC.actor.actions.chase.description"}}</p>
      </details>
    </div>

    <hr>
    <p class="seek-relief-info">{{localize "ATDC.actor.seekRelief.info"}}</p>
    <div class="collapsable box">
      <a data-roll-type="" title="roll" data-item-id=""><i class="fa-regular fa-dice"></i>{{localize "ATDC.roll.label"}}</a>
      <details>
        <summary>{{localize "ATDC.actor.seekRelief.behaveBadly.label"}}</summary>
        <p>{{localize "ATDC.actor.seekRelief.behaveBadly.description"}}</p>
      </details>
    </div>

    <div class="collapsable box">
      <a data-roll-type="" title="roll" data-item-id=""><i class="fa-regular fa-dice"></i>{{localize "ATDC.roll.label"}}</a>
      <details>
        <summary>{{localize "ATDC.actor.seekRelief.vice.label"}}</summary>
        <p>{{localize "ATDC.actor.seekRelief.vice.description"}}</p>
      </details>
    </div>

    <div class="collapsable box">
      <a data-roll-type="" title="roll" data-item-id=""><i class="fa-regular fa-dice"></i>{{localize "ATDC.roll.label"}}</a>
      <details>
        <summary>{{localize "ATDC.actor.seekRelief.seekSolaceRelationship.label"}}</summary>
        <p>{{localize "ATDC.actor.seekRelief.seekSolaceRelationship.description"}}</p>
      </details>
    </div>
    
    <div class="collapsable box">
      <a data-roll-type="" title="roll" data-item-id=""><i class="fa-regular fa-dice"></i>{{localize "ATDC.roll.label"}}</a>
      <details>
        <summary>{{localize "ATDC.actor.seekRelief.revealHistory.label"}}</summary>
        <p>{{localize "ATDC.actor.seekRelief.revealHistory.description"}}</p>
      </details>
    </div>
    
    <div class="collapsable box">
      <a data-roll-type="" title="roll" data-item-id=""><i class="fa-regular fa-dice"></i>{{localize "ATDC.roll.label"}}</a>
      <details>
        <summary>{{localize "ATDC.actor.seekRelief.seekReliefHorror.label"}}</summary>
        <p>{{localize "ATDC.actor.seekRelief.seekReliefHorror.description"}}</p>
      </details>
    </div>
  </div>
  
</div>