 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #b2b2b2;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:hover, .slider:active, .slider:focus {
        -webkit-box-shadow: 0 0 5px $color-shadow-primary;
        box-shadow: 0 0 5px $color-shadow-primary;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 4px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    input:checked + .slider {
        background-color: #823c3c;
    }
    
    input:focus + .slider {
        box-shadow: 0 0 1px #823c3c;
    }
    
    input:checked + .slider:before {
        -webkit-transform: translateX(18px);
        -ms-transform: translateX(18px);
        transform: translateX(18px);
    }
    
    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }
}

// testing
.collapsable {
    // details {
    //     border-radius: 0.5rem;
    //     margin: 1rem ;
    //     transition: 50ms;
    //   }
    //   details[open] {
    //       padding-bottom: 1em;
    //   }  
      
    //   label {
    //     color: green;
    //     background: palegoldenrod;
    //   }
    //   summary::before,
    //   summary::after {
    //       transition: 200ms;
    //   }
      
    //   summary:first-child {
    //     color: red;
    //   }
      
    //   summary {
    //       position: relative;
    //   }
      
    //   summary::before,
    //   summary::after {
    //       content: '';
    //   }
    //   summary::before,
    //   summary::after {
    //       width: .75em;
    //       height: 0;
    //       border-bottom: 2px solid;
    //       position: absolute;
    //       top: calc(50% - 1px);
    //       right: 0;
    //       transform: translateY(-50%);
    //   }
    //   summary::after {
    //       transform: rotate(90deg);
    //       transform-origin: 50% 50%;
    //   }
    //   [open] summary::after {
    //       transform: rotate(0deg);
    //   }
    //   /* styles ported over from the second example */
    //   details {
    //       border: 1px solid;
    //       padding: 0 1rem;
    //       background: white;
    //   }
    //   details + details {
    //       border-top: none;
    //   }
    //   details[open] {
    //         padding-bottom: 1em;
    //   }
    //   summary {
    //       padding: 1rem 2em 1rem 0;
    //       font-size: 1.25rem;
    //       font-weight: bold;
    //       cursor: pointer;
    //   }
      
    //   :root {
    //       font-size: 112.5%;
    //       line-height: 1.5;
    //   }
    //   body {
    //       background: #a4bacc99;
    //       color: #226daa;
    //       font-family: Raleway, sans-serif;
    //       margin: 1rem;
    //   }
    //   * {
    //       box-sizing: border-box;
    //   }
      
    //   aside {
    //       width: 38em;
    //       max-width: 98vw;
    //   }

    a {
        position: relative;
        top: 5px;
        right: -226px;
        height: 0;
        display: flex;
        width: fit-content;
    }

    details > summary {
        padding: 4px;
        width: 220px;
        // background-color: #eeeeee;
        border: none;
        // box-shadow: 1px 1px 2px #bbbbbb;
        cursor: pointer;
    }
      
    details > p {
        // background-color: #eeeeee;
        padding: 4px;
        margin: 0;
        // box-shadow: 1px 1px 2px #bbbbbb;
    }
}
