.window-app {
  font-family: $font-primary;
}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}

.chat-message-heat {
  background: none;
  background-color: #fff8e6;
  border: 2px #e0a400 solid;
}

.stress-format {
  font-weight: bold;
  font-style: italic;
  color: #A62424;
}

.heat-format {
  font-weight: bold;
  font-style: italic;
  color: #eb7602;
}

.anchor-format {
  font-weight: bold;
  font-style: italic;
  color: #a62497;
}

.intel-format {
  font-weight: bold;
  font-style: italic;
  color: #2624a6;
}

.actor {
  
  .window-content {
    background: none;
    background-color: #0D0D0D;
  }
}