<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="190" width="190"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Operator Cover Name"/></h1>
      <div class="resources grid grid-2col">
        <div class="stress-box flexcol box">
          <div class="stress flexrow">
            <a class="flexrow" data-roll-type="" title="rollstress" data-item-id=""><i class="fa-regular fa-dice"></i><h2>Stress</h2></a>
            <input type="checkbox" name="" checked>
            <input type="checkbox" name="">
            <input type="checkbox" name="">
            <input type="checkbox" name="">
            <input type="checkbox" name="">
            <input type="checkbox" name="">
          </div>
          <span class="full-width">Increasing Stress Manifests As:</span>
          <div class="flexrow full-width">
            <label for="stress2">2.</label>
            <input id="stress2" type="text">
          </div>
          <div class="flexrow full-width">
            <label for="stress3">3.</label>
            <input id="stress3" type="text">
          </div>
          <div class="flexrow full-width">
            <label for="stress4">4.</label>
            <input id="stress4" type="text">
          </div>
          <div class="flexrow full-width">
            <label for="stress5">5.</label>
            <input id="stress5" type="text">
          </div>

        </div>
        <div class="intel-load-box flexcol box">
          <div class="intel flexrow">
            <h2>INTEL</h2>
            <input type="checkbox" name="">
            <input type="checkbox" name="">
            <input type="checkbox" name="">
            <input type="checkbox" name="">
            <input type="checkbox" name="">
            <input type="checkbox" name="">
          </div>
          <hr>
          <div class="load-grid full-width">
            <div class="item">{{!-- empty --}}</div>
            <h4 class="item">Lt</h4>
            <h4 class="item">Med</h4>
            <h4 class="item">Hvy</h4>

            <h3 class="item">Load</h3>
            <input class="item" type="checkbox" name="">
            <input class="item" type="checkbox" name="">
            <input class="item" type="checkbox" name="">

            <h3 class="item">Gear</h3>  
            <div class="item">
              <input type="checkbox" name="">
              <input type="checkbox" name="">
              <input type="checkbox" name="">
            </div>
            <div class="item">
              <input type="checkbox" name="">
              <input type="checkbox" name="">
            </div>
            <input class="item" type="checkbox" name="">
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="main">Expertise, Actions &amp; Gear</a>
    <a class="item" data-tab="biography">Biography</a>
    <a class="item" data-tab="relationships">Relationships</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Expertise, Actions & Gear Tab --}}
    <div class="tab main" data-group="primary" data-tab="main">
      {{> "systems/againstthedarkconspiracy/templates/actor/parts/actor-main.html"}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="biography">
      {{> "systems/againstthedarkconspiracy/templates/actor/parts/actor-biography.html"}}
    </div>

    {{!-- relationships Tab --}}
    <div class="tab relationships" data-group="primary" data-tab="relationships">
      {{> "systems/againstthedarkconspiracy/templates/actor/parts/actor-relationships.html"}}
    </div>

  </section>
</form>

