<form class="{{cssClass}} {{actor.type}} npc flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "ATDC.npc.name.placeholder"}}"/></h1>
      <!-- TODO: add stress, put others in a tab system [notes, info, gear], add gear -->
      <textarea name="system.skills" type="text" value="{{system.skills}}" placeholder="{{localize "ATDC.npc.skills.label"}}">{{system.skills}}</textarea>
      <textarea name="system.glance" type="text" value="{{system.glance}}" placeholder="{{localize "ATDC.npc.glance.label"}}">{{system.glance}}</textarea>
      <textarea name="system.motivation" type="text" value="{{system.motivation}}" placeholder="{{localize "ATDC.npc.motivation.label"}}">{{system.motivation}}</textarea>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="main">Main</a>
    <a class="item" data-tab="notes">Notes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!--  Tab --}}
    <div class="tab main" data-group="primary" data-tab="main">
      Things go here.
    </div>

    {{!--  Tab --}}
    <div class="tab notes" data-group="primary" data-tab="notes">
      {{!-- Notes --}}
      <h2>{{localize "ATDC.npc.notes.label"}}</h2>
      <div class="notes">
        {{editor system.notes target="system.notes" button=true engine="prosemirror" collaborate=false}}
      </div>
    </div>

  </section>

</form>