<form class="{{cssClass}} {{actor.type}} flexcol sheet" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="190" width="190"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "ATDC.actor.name.placeholder"}}"/></h1>
      <div class="resources grid grid-2col">
        <div class="stress-box flexcol box">
          <div class="stress flexrow">
            <a class="flexrow" data-roll-type="" title="rollstress" data-item-id=""><i class="fa-regular fa-dice"></i><h2>{{localize "ATDC.actor.stress.title"}}</h2></a>
            {{#each system.stress.states as |state count|}}
                <input class="clickable" type="checkbox" data-pos="{{count}}" data-roll-type="toggle-stress" {{#if state}}checked{{/if}} >
            {{/each}}
          </div>
          <span class="full-width">{{localize "ATDC.actor.stress.manifestsAs.title"}}</span>
          <div class="flexrow full-width">
            <label for="stress2">{{localize "ATDC.actor.stress.manifestsAs.label.2"}}</label>
            <input class="underline-input" id="stress2" type="text" name="system.stress.manifestTwo" value="{{system.stress.manifestTwo}}">
          </div>
          <div class="flexrow full-width">
            <label for="stress3">{{localize "ATDC.actor.stress.manifestsAs.label.3"}}</label>
            <input class="underline-input" id="stress3" type="text" name="system.stress.manifestThree" value="{{system.stress.manifestThree}}">
          </div>
          <div class="flexrow full-width">
            <label for="stress4">{{localize "ATDC.actor.stress.manifestsAs.label.4"}}</label>
            <input class="underline-input" id="stress4" type="text" name="system.stress.manifestFour" value="{{system.stress.manifestFour}}">
          </div>
          <div class="flexrow full-width">
            <label for="stress5">{{localize "ATDC.actor.stress.manifestsAs.label.5"}}</label>
            <input class="underline-input" id="stress5" type="text" name="system.stress.manifestFive" value="{{system.stress.manifestFive}}">
          </div>

        </div>
        <div class="intel-load-box flexcol box">
          <div class="intel flexrow">
            <h2>{{localize "ATDC.actor.intel.title"}}</h2>
            {{#each system.intel.states as |state count|}}
                <input class="clickable" type="checkbox" data-pos="{{count}}" data-roll-type="toggle-intel" {{#if state}}checked{{/if}} >
            {{/each}}
          </div>
          <hr>
          <div class="load-grid full-width">
            <div class="item">{{!-- empty --}}</div>
            <h4 class="item">{{localize "ATDC.actor.load.light.label"}}</h4>
            <h4 class="item">{{localize "ATDC.actor.load.medium.label"}}</h4>
            <h4 class="item">{{localize "ATDC.actor.load.heavy.label"}}</h4>

            <h3 class="item">{{localize "ATDC.actor.load.label"}}</h3>
            <input class="item" type="checkbox" name="system.load.light" {{checked system.load.light}}>
            <input class="item" type="checkbox" name="system.load.medium" {{#if system.load.light}}{{checked system.load.medium}}{{else}}disabled{{/if}}>
            <input class="item" type="checkbox" name="system.load.heavy" {{#if system.load.medium}}{{checked system.load.medium}}{{else}}disabled{{/if}}>
            
            <h3 class="item">{{localize "ATDC.actor.load.gear.label"}}</h3>
            <div class="item">
              <input type="checkbox" name="system.gear.light.one" {{#if system.load.light}}{{checked system.gear.light.one}}{{else}}disabled{{/if}}>
              <input type="checkbox" name="system.gear.light.two" {{#if system.load.light}}{{checked system.gear.light.two}}{{else}}disabled{{/if}}>
              <input type="checkbox" name="system.gear.light.three" {{#if system.load.light}}{{checked system.gear.light.three}}{{else}}disabled{{/if}}>
            </div>
            <div class="item">
              <input type="checkbox" name="system.gear.medium.one" {{#if system.load.medium}}{{checked system.gear.medium.one}}{{else}}disabled{{/if}}>
              <input type="checkbox" name="system.gear.medium.two" {{#if system.load.medium}}{{checked system.gear.medium.two}}{{else}}disabled{{/if}}>
            </div>
            <input class="item" type="checkbox" name="system.gear.heavy.one" {{#if system.load.heavy}}{{checked system.gear.heavy.one}}{{else}}disabled{{/if}}>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="main">{{localize "ATDC.actor.tabs.main.label"}}</a>
    <a class="item" data-tab="biography">{{localize "ATDC.actor.tabs.biography.label"}}</a>
    <a class="item" data-tab="relationships">{{localize "ATDC.actor.tabs.relationships.label"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Expertise, Actions & Gear Tab --}}
    <div class="tab main" data-group="primary" data-tab="main">
      {{> "systems/againstthedarkconspiracy/templates/actor/parts/actor-main.html"}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="biography">
      {{> "systems/againstthedarkconspiracy/templates/actor/parts/actor-biography.html"}}
    </div>

    {{!-- relationships Tab --}}
    <div class="tab relationships" data-group="primary" data-tab="relationships">
      {{> "systems/againstthedarkconspiracy/templates/actor/parts/actor-relationships.html"}}
    </div>

  </section>
</form>

