.sheet {
  h1 {
    font-weight: bold;
    border: none;
  }
  
  h2 {
    font-weight: bold;
    border: none;
  }
  
  h3 {
    border: none;
    font-weight: bold;
  }

  a {
    color: rgb(129, 33, 33);
    font-weight: bold;
  }

  .editor {
    border: 1px black solid;
    background: rgb(0 0 0 / 5%);
    padding: 5px;
  }
}

.underline-input {
  box-sizing: border-box;
  border: none;
  background: none;
  border-bottom: 1px solid black;
  border-radius: 0;
}

.box {
  border: 1px solid black;
  background-color: rgb(128 128 128 / 5%);
  padding: 5px;
  margin: 5px;
  align-items: center;

  .full-width {
    width: -webkit-fill-available;
  }
}

.window-content {
  margin: 0;
  padding: 0;
}

.sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 5px;

  .profile-img {
    flex: 0 0 190px;
    height: 190px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .header-fields {
    flex: 1;
  }

  h1.charname {
    height: 30px;
    padding: 0px;
    margin: 5px 5px 5px 5px;
    font-size: 1.5em;

    input {
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }

  .resources {
    margin: 0;
    gap: 0;

    .stress-box {

      .stress {
        align-items: center;
        flex-grow: 0;

        input[type=checkbox] {
          margin-left: 2px;
          margin-right: 1px;
        }
        
        a {
          margin-right: 10px;
          flex: auto;

          i {
            flex-grow: 0;
            align-self: center;
          }
  
          h2 {
            margin: 0;
            margin-left: 2px;
            flex-grow: 0;
          }
        }
      }

      label {
        flex-grow: 0;
        align-self: end;
        margin-right: 5px;
        padding-top: 6px;
      }

      span {
        font-size: small;
        font-style: italic;
        margin-top: 5px;
      }

      input[type=text] {
        height: 15px;
        padding-top: 0px;
        margin-top: 5px;
      }
    }

    .intel-load-box {

      h3 {
        margin: 0;
      }
      
      h4 {
        margin: 0;
      }

      hr {
        flex-grow: 0;
        width: -webkit-fill-available;
        margin: 0;
        padding: 0;
        border: none;
        border-top: 1px solid black;
        margin: 5px 0 5px 0;
      }

      .intel {
        align-items: center;
        flex-grow: 0;

        h2 {
          margin: 0;
          margin-right: 10px;
          flex-grow: 0;
        }
  
        input[type=checkbox] {
          margin-left: 2px;
          margin-right: 1px;
        }
      }

      .load-grid {
        display: grid;
        grid-template-columns: minmax(10px, 2fr) minmax(10px, 3fr) minmax(10px, 2fr) minmax(10px, 1fr);
        grid-template-rows: repeat(3, minmax(10px, 1fr));
        grid-column-gap: 5px;
        
        .item {
          place-self: center;
        }

        input[type=checkbox] {
          margin-left: 1px;
          margin-right: 1px;
        }
      }
    }

  }
}

nav.sheet-tabs {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: rgb(128 128 128 / 20%);
}

.sheet-tabs {
  flex: 0;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: auto;
}

.sheet-body {
  margin: 5px;

  .main {

    input[type="text"]:disabled {
      color: #605f57;
    }
    
    input[type="text"]:disabled:hover {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border: none;
      background: none;
      border-bottom: 1px solid black;
      border-radius: 0;
    }

    .main-left {
      flex-grow: 3;
    }

    .actions {
      flex-grow: 2;

      .box {
        padding: 2px;
        margin: 5px;
      }

      .seek-relief-info {
        font-size: 0.75em;
        text-align: center;
      }
    }

    .expertise-grid {
      display: grid;
      grid-template-columns: minmax(20px, 1fr) 10px minmax(20px, 1fr);
      grid-template-rows: repeat(5, minmax(10px, 1fr));
      grid-column-gap: 5px;
      row-gap: 5px;
      flex-grow: 0;

      h3 {
        margin: 0;
      }

      select {
        min-width: 0;
        max-width: 100%;
      }

      .specialism {
        flex-wrap: nowrap;

        input[type=checkbox] {
          margin-left: 0;
          margin-right: 2px;
          flex-grow: 0;
        }
      }

      .expertise-available {
        label {
          flex-grow: 1;
        }

        div {
          flex-grow: 3;
          align-self: center;
        }
      }
    }

    .gear {

      p.description {
        font-size: 0.9em;
      }
    }
  }

  .biography {
    
    .why-conspiracy {
      .editor {
        height: 160px;
      }
      
      p {
        font-size: 0.9em;
      }

      .answer {
        font-weight: bold;
      }

      .question {
        color: rgb(58, 58, 58);
      }
    }

    .actor-notes {
      .editor {
        height: 360px;
      }
    }
  }

  .relationships {
    
    input[type=text] {
      margin-bottom: 5px;
    }

    p {
      font-size: 0.8em;
    }

    .editor {
      height: 100px;
    }

    .anchor {

      .taken {

        label {
          text-align: center;
          align-self: center;
        }
  
        input[type=checkbox] {
          flex: 1;
        }
      }

    }

    .contacts-header {
      align-items: center;
      margin: 0 0 0.5rem;

      h3 {
        margin: 0;
      }

      a {
        text-align-last: end;
      }
    }
  }
}

.tox {
  .tox-editor-container {
    background: $c-white;
  }

  .tox-edit-area {
    padding: 0 8px;
  }
}

.gear, .contact {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 5px;

  .profile-img {
    flex: 0 0 190px;
    height: 190px;
    margin-right: 5px;
  }

  input[type=text] {
    height: auto;
  }

  // .blown {
   
  //   input[type=checkbox] {
    
  //   }
  // }

  .expertise {
    grid-column: 2 / span 2;

    select {
      min-width: 0;
      max-width: 100%;
    }
  }

  textarea {
    height: 94px;
  }
}
