.npc {
  .conspiracy-header {
    flex: 0;
    font-size: x-large;
    padding: 5px;
    font-weight: bold;
    text-align-last: center;
    font-family: serif;
  }

  .sheet-header {
    flex: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 10px 10px 5px 10px;

    .profile-img {
      flex: 0 0 190px;
      height: 190px;
      margin-right: 5px;
      border: 1px #94ABBF solid;
    }

    .header-fields {
      flex: 1;
      align-self: flex-start;

      .field {
        margin-bottom: 5px;
      }

      input[type=text] {
        width: 100%;
        margin: 0;
      }

      h4 {
        flex: initial;
        margin: 0 10px 0 0;
        align-self: center;
      }
    }

    h1.char-name {
      margin: 0px 0px 5px 0px;
      
      input[type=text] {
        height: 30px;
        line-height: 30px;
      }
    }
    
    .char-name-label {
      flex: 0;
      align-self: center;
      margin-right: 10px;
    }

    .resources{
        align-items: center;
        margin: 10px 0px 0px 0px;

        .stress {
            justify-self: flex-start;
            align-items: center;
    
            .controls {
                flex: 0;
                margin-left: 5px;
                margin-right: 8px;
            }
    
            h3 {
                flex: 0;
            }
        }
    
        .type {
            align-items: center;
    
            select {
                width: 100%;
            }
    
            h3 {
                flex: 0;
                margin: 0 10px 0 0;
            }
        }
    }
    
  }

  .nameless_main {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .notes {
  
    .editor {
        height: 148px;
        border-radius: 5px;
        padding: 0 5px 0 5px;
    }
  }

  .subtype {
    flex: 0;
    padding: 5px;

    h4 {
      flex: 0;
      margin-right: 10px;
    }
  }

  .sheet-body .tab .notes .editor {
    height: 225px;
  }

  .safe-house-header {
    align-items: center;

    .target {
      align-items: center;
      justify-content: center;
      padding-left: 20px;
      padding-right: 20px;
      width: -webkit-fill-available;
      margin-bottom: 17px;
      
      label {
        flex: unset;
        text-align: center;
        align-self: center;
      }
  
      input[type="checkbox"] {
        flex: unset;
      }
    }

    .gear-benefit {
      margin: 0;
      width: -webkit-fill-available;

      .grid {
        margin: 0;
        justify-items: center;
      }
    }
  }
  
  .main-left {
    flex-grow: 2;

    .bottom-margin {
      margin-bottom: 10px;
    }
  }

  .safe-house-notes {

    .editor {
      height: 310px;
      padding: 0 5px 0 5px;
    }
  }
}
