.window-content {
  margin: 0;
  padding: 0;
  background: none;
  background-color: #0D0D0D;
  color: #dfdfdf;
  
  h1 {
    font-weight: bold;
    border: none;
  }

  h2 {
    font-weight: bold;
    border: none;
  }

  h3 {
    border: none;
    border-radius: 6px 6px 0px 0px;
    font-weight: bold;
    margin: 0 0 0 0;
    padding: 5px 10px 5px 10px;
    background-color: #0B2039;
    color: white;
    align-self: center;
    width: 100%;
    
    a {
      // color: rgb(255, 67, 67);
      font-size: smaller;
      align-self: flex-end;
    }
  }

  h4 {
    font-weight: bold;
    font-size: 1.25em;
    color: #a4a4a4;
  }

  h5 {
    font-weight: bold;
    font-size: 1em;
    color: #a4a4a4;
    margin: 0;
  }

  hr {
    flex-grow: 0;
    width: -webkit-fill-available;
    padding: 0;
    border: none;
    border-top: 1px solid rgba(126, 126, 126, 0.408);;
    margin: 10px 0 10px 0;
  }

  a {
    color: #FF4848;
    font-weight: bold;
  }

  .editor {
    border: 1px black solid;
    background: rgb(0 0 0 / 5%);
    padding: 5px;
  }

  .underline-input {
    box-sizing: border-box;
    border: none;
    background: none;
    border-bottom: 1px solid black;
    border-radius: 0;
  }
 
  input[type="text"], 
  input[type="number"], 
  input[type="password"], 
  input[type="date"], 
  input[type="time"], 
  input[type="search"] {

    &, &:focus, &:disabled:hover {
      color: #dfdfdf;
      background: none;
      border: none;
      border-bottom: 1px #3d4750 solid;
    }

    &:hover {
      color: #f4f4f4;
      background-color: #0d2441;
      border: none;
      border-bottom: 1px #3d4750 solid;
    }

    &::placeholder {
      color: #909090;
    }
  }

  textarea {
    color: white;
    // background-color: #0B2039;
    border: 1px #3d4750 solid;
  }

  .editor {
    color: white;
    // background-color: #0B2039;
    border: 1px #3d4750 solid;
  }

  select {
    color: white;
    background-color: #0D0D0D;
    border: 1px #3d4750  solid;

    option {
      color: #f4f4f4;
      background-color: #0d2441;
    }
  }
  
  .box {
    border: 1px solid #94ABBF;
    border-radius: 6px 6px 0px 0px;
    background-color: #0b203940;
    padding: 0;
    margin: 5px;
    align-items: center;
  
    .full-width {
      width: -webkit-fill-available;
    }

    .item-list {
      width: -webkit-fill-available;
      margin-bottom: 5px;
    }
    
    .box-body {
      width: -webkit-fill-available;
      padding: 5px;
    }
  }
  
  .tabs .item {
    color: #616161;
    text-shadow: none;
  
    &.active {
      text-shadow: none;
      color: white;
      border-bottom: 2px solid #c0dfce;
      background: none;
    }
  }

  nav.sheet-tabs {
    margin: 0;
    border-top: 1px solid #94ABBF;
    border-bottom: 1px solid #94ABBF;
    background-image: url(../assets/actors/tab_area.webp);

    .item {
      padding: 12px;
    }
  }

  .sheet-tabs {
    flex: 0;
  }
  
  .sheet-body,
  .sheet-body .tab,
  .sheet-body .tab .editor {
    height: auto;
  }
  
  .sheet-body {
    margin: 5px;
  }
  
  .tox {
    .tox-editor-container {
      background: $c-white;
    }
  
    .tox-edit-area {
      padding: 0 8px;
    }
  }
  .gear,
  .contact,
  .power,
  .compulsion,
  .deterrent,
  .vulnerability {
    flex: 1;
    align-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 5px;

    .profile-img {
      flex: 0 0 190px;
      height: 190px;
      margin-right: 5px;
    }

    .info {
      height: 30px;
    }

    input[type="text"] {
      height: 100%;
    }

    select {
      min-width: 0;
      max-width: 100%;
    }

    .left-label {
      align-items: center;

      label {
        margin-right: 5px;
      }
    }

    .center-label {
      display: flex;
      align-items: center;
    }

    textarea {
      height: 103px;
    }
  }
}
