<hr>
<div style="font-size: 1em" class="action" data-owner-id="{{ownerId}}">
    {{{localize "ATDC.chat.harmRoll.message"}}}
    </br>
    <button type="button" class="roll-harm"><b style="color: {{{takeThemOutDieColor}}}">
        <i class="fa-regular fa-dice"></i> <i>{{{localize "ATDC.chat.harmRoll.buttonLabel"}}}</i></b>
    </button>
<div>