<div class="heat">
    <h3>{{{increaseMessage}}}</h3>
    <p>{{{localize "ATDC.chat.heatIncrease.threatLevelMessage"}}}</p> 
    <span class="threat-level {{{threatColor}}}">{{{conspiracyThreatLevel}}}</span>
<div>